@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #403b3b;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr 8fr 5fr 3fr 1fr;
  align-items: end;
  gap: 10px;
  grid-row: 1 / 2;
  background: rgb(255,198,0);
  background: linear-gradient(115deg, rgba(255,198,0,1) 25%, rgba(255,198,0,1) 50%, rgba(251,210,66,1) 75%, rgba(251,210,66,1) 100%);
  padding-bottom: 20px;
}

.h1-container {
  display: flex;
  align-items: center;
  justify-items: end;
  gap: 5px;
  grid-column: 2 / 3;
}

.h1-container > h1 {
  color: #0039FF;
  font-size: 40px;
  padding-left: 30px;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  gap: 3px;
  width: max-content;
  height: max-content;
  align-items: end;
  justify-content: end;
  justify-items: end;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.search-icon {
  align-self: end;
  border-radius: 4px;
  cursor: pointer;
  padding: 1px 2px;
  transition: transform 0.2s ease-in-out;
}

.search-icon:hover {
  transform: scale(1.1);
} 

input {
  margin: 30px 0 0 30px;
  border-radius: 10px;
  width: 250px;
  height: 20px;
}

input:focus {
  border: none;
  outline: #0039FF solid 2px;
}

.main-content {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 12fr 1fr;
  grid-row: 2 / 3;
  height: 100%;
  background: rgb(166,166,166);
  background: linear-gradient(90deg, rgba(166,166,166,1) 0%, rgba(175,175,175,1) 25%, rgba(195,195,195,1) 50%, rgba(214,214,214,1) 75%, rgba(232,229,229,1) 100%);
  gap: 10px;
  padding-top: 20px;
}

.current-weather-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 2 / 3;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.city-name {
  display: grid;
  border: 5px solid #5d79de;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  border-radius: 8px;
  justify-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 0 10px 0 10px;
  width: clamp(60px, 250px, 300px);
}

.city-name > * {
  margin: 0;
  padding: 0;
}

.city-name > h2 {
  font-size: 42px;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-self: center;
}

.city-name > h5 {
  font-size: 16px;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-self: end;
  font-size: 12px;
  padding-bottom: 20px;
}

.local-day {
  grid-row: 2 / 3;
  align-self: center;
  font-size: 30px;
}

.local-time {
  grid-row: 3 / 4;
  align-self: start;
  font-size: 30px;
}

.city-weather {
  display: grid;
  border: 5px solid #5d79de;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  border-radius: 8px;
  justify-items: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding: 0 10px 0 10px;
  width: clamp(60px, 250px, 300px);
}

.current-temperature {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-self: center;
  align-items: center;
  gap: 10px;
}

.city-weather > *,
.current-temperature > * {
  margin: 0;
  padding: 0;
}

.current-temperature > h2 {
  font-size: 46px;
}

.weather-condition {
  font-size: 16px;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-self: end;
  font-size: 12px;
  padding-bottom: 20px;
}

.feels-like {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: center;
  font-size: 30px;
}

.label-feels {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: end;
  font-size: 12px;
  padding-bottom: 30px;
}

.min-max-temp {
  grid-row: 3 / 4;
  align-self: start;
  font-size: 30px;
  justify-self: center;
  grid-column: 1 / -1;
}

.label {
  grid-row: 3 / 4;
  align-self: center;
  font-size: 12px;
  justify-self: center;
  grid-column: 1 / -1;
  padding-bottom: 30px;
}

.city-precipitation {
  display: grid;
  border: 5px solid #5d79de;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  border-radius: 8px;
  justify-items: center;
  padding: 0 10px 0 10px;
  width: clamp(60px, 250px, 300px);
}

.city-precipitation > * {
  margin: 0;
  padding: 0;
}

.precipitation {
  font-size: 46px;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-self: center;
  align-items: center;
}

.chance-of-rain {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: end;
  font-size: 12px;
  padding-bottom: 20px;
}

.total-precipitation {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: center;
  font-size: 30px;
}

.mm {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: end;
  font-size: 12px;
  padding-bottom: 30px;
}

.humidity {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  align-self: start;
  font-size: 30px;
}

.average-humidity {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  align-self: center;
  font-size: 12px;
  padding-bottom: 30px;
}


.footer {
  grid-row: -2 / -1;
  background: rgb(166,166,166);
  background: linear-gradient(90deg, rgba(166,166,166,1) 0%, rgba(175,175,175,1) 25%, rgba(195,195,195,1) 50%, rgba(214,214,214,1) 75%, rgba(232,229,229,1) 100%);
  border: 2px solid #747373;
}


@media(max-width: 790px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .city-name {
    width: max-content;
  }

  .city-weather {
    width: max-content;
  }

  .city-precipitation {
    width: max-content;
  }
}

@media(max-width: 576px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .h1-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
  }

  .search-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
  }
  
  input {
    margin: 0;
  }

  .current-weather-wrapper {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding-left: 20px;
  }

  .city-name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    width: 300px;
  }

  .city-name > h5 {
    grid-row: 2 / 3;
    align-self: start;
  }

  .local-day {
    grid-column: 1 / 2;
    align-self: end;
  }
  .local-time {
    align-self: center;
  }

  .city-weather {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    justify-self: center;
    width: 300px;
  }

  .weather-condition {
    grid-row: 2 / 3;
    align-self: start;
  }

  .feels-like {
    grid-column: 1 / 2;
    align-self: end;
    padding-bottom: 10px;
  }

  .min-max-temp {
    align-self: end;
    padding-bottom: 5px;
  }

  .city-precipitation {
    width: 300px;
  }
}